<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>Furniture shop</span>

  <a mat-button [routerLink]="['/furniture']">Furniture</a>
  

  <div *ngIf="authService.hasAdminRole()">

        <a mat-button class="text-warning" routerLink="/furniture/add">Add furniture</a>
        <a mat-button class="text-warning" routerLink="/user/all">User list</a>
  
  </div>

  <div class="spacer"></div>

  <div *ngIf="isAuthenticated()">
    <a mat-button routerLink="cart">My cart</a>
  </div>
  <div *ngIf="isAuthenticated()">
    <a mat-button routerLink="orders">My orders</a>
  </div>
  <div *ngIf="isAuthenticated()">
    <a mat-button routerLink="user/profile">My profile</a>
  </div>
  <div *ngIf="!isAuthenticated()">
    <button mat-button routerLink="register">Register</button>
  </div>
  <div *ngIf="!isAuthenticated()">
    <a mat-raised-button color="accent" [routerLink]="['/login']">Login</a>
  </div>
  <div *ngIf="isAuthenticated()">
    <a mat-raised-button color="primary" (click)="logout()">Logout</a>
  </div>
</mat-toolbar>
