<div class="container">
    <div class="card my-5">
      <div class="card-body">
        
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">
                #ID
              </th>
              <th scope="col">
                Username
              </th>
              <th scope="col">
                E-mail
              </th>
              <th scope="col">
                Status
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button class="btn btn-light active" (click)="lockUser(user.id)">
                  <p *ngIf="user.locked" class="text-danger">Disabled</p>
                  <p *ngIf="!user.locked" class="text-success">Enabled</p>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>